// Define variables in this file.
$primary-color: #d1f3ff;
$primary-foreground: #3e3d3d;
$primary-hover: #FF8000;
$secondary-color: #cfffcf;
$secondary-foreground: #356442;
$tertiary-color: #71ffb8;
$tertiary-foreground: #374761;