@import '../../../assets/styles/variables.scss';

.events-list {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    &__heading {
        text-align: center;
        font-size: 20px;
        color: $primary-color;
    }
}