@import './../../../assets/styles/variables.scss';
@import './../../../assets/styles/mixins.scss';

.update-form {
    width: 60%;
    min-width: 400px;
    margin: 1rem auto;
    padding: 2rem;
    font-size: 18px;
    background: $primary-color;
    border-radius: 10px;
    color: $primary-foreground;

    > form {
        display: flex;
        flex-flow: row wrap;
    }

    &__heading {
        margin-bottom: 0.5rem;
        font-weight: normal;
    }

    &__submit-container {
        display: flex;
        flex: 100%;
        padding-top: 2rem;
    }
    
    &__submit-button {
        @include article-button;
        font-size: 18px;
        margin-left: auto;
    }

    &__server-error, &__success-message {
        flex: 100%;
        margin: 1rem;
    }

    &__server-error {
        color: $error-color;
    }

    &__success-message {
        color: green;
    }

    &__change-password-fieldset {
        flex: 100%;
        margin-top: 2rem;
        padding-bottom: 1rem;
        display: flex;

        legend {
            margin: 0 1rem;
            padding: 0 0.5rem;
        }
    }
}

[class*="update-form__field"] {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
    padding: 0.5rem 1rem;

    > div {
        width: 100%;
        margin: 0 auto;
        + div {
            color: $error-color;
        }
    }
}
